@charset "UTF-8";

html {
  font-size: 16px;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: 'Kosugi Maru', Arial, 'Hiragino Sans', Meiryo, sans-serif;
  background-color: #ccffff;
}

#contents {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 42px;
  text-align: left;
  background-color: #c0cbff;
  border: 1px solid #c0cbff;
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .title {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000055;
}

header #version {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7777aa;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  font-size: 1rem;
  font-weight: bold;
  color: #7777aa;
  background-color: #c0cbff;
}

#main {
  display: table;
  width: 100%;
  height: calc(100svh - 68px);
}

#main-inner {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

#svg {
  margin: 5px;
  cursor: pointer;
  border: 2px solid black;
}

g {
  pointer-events: none;
}

#result {
  margin: 10px 0;
  font-size: 2rem;
}

#button-collections {
  margin: 15px 0;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
}

.hide {
  display: none;
}

#app-icon {
  width: 40px;
  height: 40px;
}

#collections-num {
  margin: 0 0 15px;
  font-size: 1.5rem;
}

#notice {
  font-size: 1.5rem;
  color: #ee0000;
}
